---
import Layout from "../layouts/Layout.astro";
import RoleBasedContent from "../components/RoleBasedContent.svelte";
import UploadButton from "../components/UploadButton.svelte";
import HeadersList from "../components/HeadersList.svelte";
import CategoriesContainer from "../components/CategoriesContainer.svelte";
---
<Layout title="Project-a">
  <div class="grid-area-main h-full flex flex-col gap-4 p-4">
    <!-- Área de cabeceras -->
    <div class="bg-zinc-800/50 p-4 rounded-lg backdrop-blur-sm overflow-y-auto flex-shrink-0">
      <div class="space-y-4">
        <div class="p-2">
          <UploadButton client:load />
        </div>   
        
        <div class="p-2 bg-zinc-700/50 rounded">
          <HeadersList client:load />
        </div>
        <div>
          <RoleBasedContent client:load />
        </div>
      </div>
    </div>
    
    <!-- Área de categorías -->
    <div class="bg-zinc-800/50 p-4 gap-4 rounded-lg backdrop-blur-sm overflow-y-auto flex-grow">
      <CategoriesContainer client:load />
    </div>
  </div>
</Layout>


