---
import Layout from "../layouts/Layout.astro";
import RoleBasedContent from "../components/RoleBasedContent.svelte";
import UploadButton from "../components/UploadButton.svelte";
import HeadersList from "../components/HeadersList.svelte";
import CategoriesContainer from "../components/CategoriesContainer.svelte";
---
<Layout title="Project-a">
  <div class="grid-area-main h-full">
    <!-- Columna Izquierda (1fr) -->
    <div class="space-y-6 overflow-y-auto p-4">
      <div class="p-4 rounded-lg backdrop-blur-sm">
        <UploadButton client:load />
      </div>
      
      <div>
        <RoleBasedContent client:load />
      </div>
      
      <div class="bg-zinc-800/50 p-4 rounded-lg backdrop-blur-sm flex-grow">
        <HeadersList client:load />
      </div>
    </div>
    
    <!-- Columna Derecha (2fr) -->
    <div class="bg-zinc-800/50 p-4 rounded-lg backdrop-blur-sm overflow-y-auto">
      <CategoriesContainer client:load />
    </div>
  </div>
</Layout>


