---
import AsideMenu from '../components/AsideMenu.astro'
const { title } = Astro.props
---
<!doctype html>
<html lang="en">
    <head>
        <!-- Meta información básica -->
        <meta charset="UTF-8">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/styles/global.css">
        <title>{title}</title>
    </head>
    <body>
        <div id="app" class="relative h-screen p-2 gap-2">
            
            <aside class="grid-area-aside flex-col flex overflow-y-auto">                
                <AsideMenu />
            </aside>

            <main class="grid-area-main rounded-lg bg-zinc-400 overflow-y-auto w-full">
                <slot />
            </main>

            <footer class="grid-area-footer bg-gradient-to-t from-slate-900 via-slate-900/90 min-h-[100px]">
                <!-- Contenido del footer si aplica -->
            </footer>

        </div>
    </body>
</html>

